:root {
    --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
    --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
    --ease-both-sine: cubic-bezier(0.37, 0, 0.63, 1);
    --ease-in-quadratic: cubic-bezier(0.11, 0, 0.5, 0);
    --ease-out-quadratic: cubic-bezier(0.5, 1, 0.89, 1);
    --ease-both-quadratic: cubic-bezier(0.45, 0, 0.55, 1);
    --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
    --ease-both-cubic: cubic-bezier(0.65, 0, 0.35, 1);
    --ease-in-quartic: cubic-bezier(0.5, 0, 0.75, 0);
    --ease-out-quartic: cubic-bezier(0.25, 1, 0.5, 1);
    --ease-both-quartic: cubic-bezier(0.76, 0, 0.24, 1);
    --ease-in-quintic: cubic-bezier(0.64, 0, 0.78, 0);
    --ease-out-quintic: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-both-quintic: cubic-bezier(0.83, 0, 0.17, 1);
    --ease-in-exponential: cubic-bezier(0.7, 0, 0.84, 0);
    --ease-out-exponential: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-both-exponential: cubic-bezier(0.87, 0, 0.13, 1);
    --ease-in-circular: cubic-bezier(0.55, 0, 1, 0.45);
    --ease-out-circular: cubic-bezier(0, 0.55, 0.45, 1);
    --ease-both-circular: cubic-bezier(0.85, 0, 0.15, 1);
    --ease-in-overshoot: cubic-bezier(0.36, 0, 0.66, -0.56);
    --ease-out-overshoot: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-both-overshoot: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --ease-in: var(--ease-in-quadratic);
    --ease-out: var(--ease-out-quadratic);
    --ease-both: var(--ease-both-quadratic);
    --transition-props:
        color, background, border, outline, text-decoration, opacity,
        box-shadow, transform, filter, backdrop-filter, margin, padding, top,
        left, right, bottom, inset;

    --transition-linear: 0.125s linear;
    --transition-linear-slow: 0.25s linear;
    --transition-linear-quick: 0.075s linear;
    --transition-in-sine: 0.125s var(--ease-in-sine);
    --transition-in-quadratic: 0.125s var(--ease-in-quadratic);
    --transition-in-cubic: 0.125s var(--ease-in-cubic);
    --transition-in-quartic: 0.125s var(--ease-in-quartic);
    --transition-in-quintic: 0.125s var(--ease-in-quintic);
    --transition-in-exponential: 0.125s var(--ease-in-exponential);
    --transition-in-circular: 0.125s var(--ease-in-circular);
    --transition-in-overshoot: 0.125s var(--ease-in-overshoot);
    --transition-in-sine-slow: 0.25s var(--ease-in-sine);
    --transition-in-quadratic-slow: 0.25s var(--ease-in-quadratic);
    --transition-in-cubic-slow: 0.25s var(--ease-in-cubic);
    --transition-in-quartic-slow: 0.25s var(--ease-in-quartic);
    --transition-in-quintic-slow: 0.25s var(--ease-in-quintic);
    --transition-in-exponential-slow: 0.25s var(--ease-in-exponential);
    --transition-in-circular-slow: 0.25s var(--ease-in-circular);
    --transition-in-overshoot-slow: 0.25s var(--ease-in-overshoot);
    --transition-in-sine-quick: 0.075s var(--ease-in-sine);
    --transition-in-quadratic-quick: 0.075s var(--ease-in-quadratic);
    --transition-in-cubic-quick: 0.075s var(--ease-in-cubic);
    --transition-in-quartic-quick: 0.075s var(--ease-in-quartic);
    --transition-in-quintic-quick: 0.075s var(--ease-in-quintic);
    --transition-in-exponential-quick: 0.075s var(--ease-in-exponential);
    --transition-in-circular-quick: 0.075s var(--ease-in-circular);
    --transition-in-overshoot-quick: 0.075s var(--ease-in-overshoot);
    --transition-out-sine: 0.125s var(--ease-out-sine);
    --transition-out-quadratic: 0.125s var(--ease-out-quadratic);
    --transition-out-cubic: 0.125s var(--ease-out-cubic);
    --transition-out-quartic: 0.125s var(--ease-out-quartic);
    --transition-out-quintic: 0.125s var(--ease-out-quintic);
    --transition-out-exponential: 0.125s var(--ease-out-exponential);
    --transition-out-circular: 0.125s var(--ease-out-circular);
    --transition-out-overshoot: 0.125s var(--ease-out-overshoot);
    --transition-out-sine-slow: 0.25s var(--ease-out-sine);
    --transition-out-quadratic-slow: 0.25s var(--ease-out-quadratic);
    --transition-out-cubic-slow: 0.25s var(--ease-out-cubic);
    --transition-out-quartic-slow: 0.25s var(--ease-out-quartic);
    --transition-out-quintic-slow: 0.25s var(--ease-out-quintic);
    --transition-out-exponential-slow: 0.25s var(--ease-out-exponential);
    --transition-out-circular-slow: 0.25s var(--ease-out-circular);
    --transition-out-overshoot-slow: 0.25s var(--ease-out-overshoot);
    --transition-out-sine-quick: 0.075s var(--ease-out-sine);
    --transition-out-quadratic-quick: 0.075s var(--ease-out-quadratic);
    --transition-out-cubic-quick: 0.075s var(--ease-out-cubic);
    --transition-out-quartic-quick: 0.075s var(--ease-out-quartic);
    --transition-out-quintic-quick: 0.075s var(--ease-out-quintic);
    --transition-out-exponential-quick: 0.075s var(--ease-out-exponential);
    --transition-out-circular-quick: 0.075s var(--ease-out-circular);
    --transition-out-overshoot-quick: 0.075s var(--ease-out-overshoot);
    --transition-both-sine: 0.125s var(--ease-both-sine);
    --transition-both-quadratic: 0.125s var(--ease-both-quadratic);
    --transition-both-cubic: 0.125s var(--ease-both-cubic);
    --transition-both-quartic: 0.125s var(--ease-both-quartic);
    --transition-both-quintic: 0.125s var(--ease-both-quintic);
    --transition-both-exponential: 0.125s var(--ease-both-exponential);
    --transition-both-circular: 0.125s var(--ease-both-circular);
    --transition-both-overshoot: 0.125s var(--ease-both-overshoot);
    --transition-both-sine-slow: 0.25s var(--ease-both-sine);
    --transition-both-quadratic-slow: 0.25s var(--ease-both-quadratic);
    --transition-both-cubic-slow: 0.25s var(--ease-both-cubic);
    --transition-both-quartic-slow: 0.25s var(--ease-both-quartic);
    --transition-both-quintic-slow: 0.25s var(--ease-both-quintic);
    --transition-both-exponential-slow: 0.25s var(--ease-both-exponential);
    --transition-both-circular-slow: 0.25s var(--ease-both-circular);
    --transition-both-overshoot-slow: 0.25s var(--ease-both-overshoot);
    --transition-both-sine-quick: 0.075s var(--ease-both-sine);
    --transition-both-quadratic-quick: 0.075s var(--ease-both-quadratic);
    --transition-both-cubic-quick: 0.075s var(--ease-both-cubic);
    --transition-both-quartic-quick: 0.075s var(--ease-both-quartic);
    --transition-both-quintic-quick: 0.075s var(--ease-both-quintic);
    --transition-both-exponential-quick: 0.075s var(--ease-both-exponential);
    --transition-both-circular-quick: 0.075s var(--ease-both-circular);
    --transition-both-overshoot-quick: 0.075s var(--ease-both-overshoot);
    --transition: var(--transition-out);
    --transition-slow: var(--transition-out-slow);
    --transition-quick: var(--transition-out-quick);
}

:not(#_) * {
    transition-property: var(--transition-props);
}
