@import "tailvars";
@import "tailvars/preflight" layer(preflight);
@import "@fontsource/vt323";
@import "@fontsource/ibm-plex-sans";
@import "@fontsource/ibm-plex-serif/400-italic";

:root {
  --font-body: "IBM Plex Sans";
  --font-heading: "VT323";
}

body {
  font: var(--font-body-md);
}

code,
pre {
  font-family: var(--font-mono);
}

a {
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
  color: var(--color-indigo-700);

  &:hover {
    opacity: 60%;
  }
}

* {
  scroll-behavior: smooth;
}

.container {
  --gap-size: var(--size-6);
  --sidebar-min-width: 150px;
  --sidebar-max-width: 200px;

  display: grid;
  grid-template-columns: 0 1fr 0;
  gap: 0 var(--gap-size);

  @media (--screen-md) or (--screen-lg) or (--screen-xl) {
    grid-template-columns:
      0
      1fr
      min(calc(100% - 4 * var(--gap-size)), var(--screen-width-lg))
      1fr
      0;
  }

  &:has(.sidebar) {
    @media (--screen-md) or (--screen-lg) {
      grid-template-columns:
        1fr
        var(--sidebar-min-width)
        min(
          calc(100% - 4 * var(--gap-size) - var(--sidebar-min-width)),
          var(--screen-width-lg)
        )
        1fr;
    }
  }

  & > * {
    grid-column: 2;

    @media (--screen-md) or (--screen-lg) or (--screen-xl) {
      grid-column: 3;
    }

    &.no-container {
      grid-column: 1 / -1;
    }
  }

  & .sidebar {
    display: none;
    grid-column: 2;
    grid-row: auto / span 999;
    flex-direction: column;
    width: 100%;
    min-width: var(--sidebar-min-width);
    max-width: var(--sidebar-max-width);
    justify-self: flex-end;
    gap: var(--size-2);

    @media (--screen-md) or (--screen-lg) or (--screen-xl) {
      display: flex;
    }

    & > * {
      position: sticky;
      top: var(--size-8);
    }
  }
}
