@import "tailvars";
@import "tailvars/preflight" layer(preflight);
@import "@fontsource/vt323";

:root {
	--font-heading: "VT323";
}

body {
	font: var(--font-body-md);
}

code,
pre {
	font-family: var(--font-mono);
}

.container {
	--gap-size: var(--size-6);

	display: grid;
	gap: 0 var(--gap-size);
	grid-template-columns: 1fr min(calc(100% - 2 * var(--gap-size)), var(--screen-width-lg)) 1fr;

	& > * {
		grid-column: 2;
	}

	& .no-container {
		grid-column: 1 / -1;
	}

	@media (--screen-xs) or (--screen-sm) {
		--gap-size: var(--size-2);
	}

	@media (--screen-lg) or (--screen-md) or (--screen-sm) or (--screen-xs) {
		grid-template-columns: 1fr min(calc(100% - 2 * var(--gap-size)), var(--screen-width-md)) 1fr;
	}
}
