* {
	--color-fuchsia-50: oklch(97.7% 0.017 320.058 / var(--color-fuchsia-50-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-100: oklch(95.2% 0.037 318.852 / var(--color-fuchsia-100-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-200: oklch(90.3% 0.076 319.62 / var(--color-fuchsia-200-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-300: oklch(83.3% 0.145 321.434 / var(--color-fuchsia-300-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-400: oklch(74% 0.238 322.16 / var(--color-fuchsia-400-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-500: oklch(66.7% 0.295 322.15 / var(--color-fuchsia-500-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-600: oklch(59.1% 0.293 322.896 / var(--color-fuchsia-600-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-700: oklch(51.8% 0.253 323.949 / var(--color-fuchsia-700-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-800: oklch(45.2% 0.211 324.591 / var(--color-fuchsia-800-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-900: oklch(40.1% 0.17 325.612 / var(--color-fuchsia-900-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
	--color-fuchsia-950: oklch(29.3% 0.136 325.661 / var(--color-fuchsia-950-opacity, var(--color-fuchsia-opacity, var(--color-opacity, 100%))));
}
