* {
	--color-neutral-50: oklch(98.5% 0 0 / var(--color-neutral-50-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-100: oklch(97% 0 0 / var(--color-neutral-100-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-200: oklch(92.2% 0 0 / var(--color-neutral-200-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-300: oklch(87% 0 0 / var(--color-neutral-300-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-400: oklch(70.8% 0 0 / var(--color-neutral-400-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-500: oklch(55.6% 0 0 / var(--color-neutral-500-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-600: oklch(43.9% 0 0 / var(--color-neutral-600-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-700: oklch(37.1% 0 0 / var(--color-neutral-700-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-800: oklch(26.9% 0 0 / var(--color-neutral-800-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-900: oklch(20.5% 0 0 / var(--color-neutral-900-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
	--color-neutral-950: oklch(14.5% 0 0 / var(--color-neutral-950-opacity, var(--color-neutral-opacity, var(--color-opacity, 100%))));
}
