* {
	--color-red-50: oklch(97.1% 0.013 17.38 / var(--color-red-50-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-100: oklch(93.6% 0.032 17.717 / var(--color-red-100-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-200: oklch(88.5% 0.062 18.334 / var(--color-red-200-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-300: oklch(80.8% 0.114 19.571 / var(--color-red-300-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-400: oklch(70.4% 0.191 22.216 / var(--color-red-400-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-500: oklch(63.7% 0.237 25.331 / var(--color-red-500-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-600: oklch(57.7% 0.245 27.325 / var(--color-red-600-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-700: oklch(50.5% 0.213 27.518 / var(--color-red-700-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-800: oklch(44.4% 0.177 26.899 / var(--color-red-800-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-900: oklch(39.6% 0.141 25.723 / var(--color-red-900-opacity, var(--color-red-opacity, var(--color-opacity))));
	--color-red-950: oklch(25.8% 0.092 26.042 / var(--color-red-950-opacity, var(--color-red-opacity, var(--color-opacity))));
}
